Repository dowdah/campus-card-mgr-web, pull requests merged in 2024-06, with the labels that each got.

#5 Add new user route
  backend/app/api/v1/financial_report.py
  backend/app/api/v1/user.py
  backend/app/models.py
Labels: enhancement, backend

#7 Add frontend auth logic and modify some parts of backend auth logic
  backend/app/api/authentication.py
  backend/app/api/v1/auth.py
  frontend/src/App.vue
  frontend/src/components/Login.vue
  frontend/src/components/Navbar.vue
  frontend/src/config/constants.js
  frontend/src/router/index.js
  frontend/src/store/index.js
  frontend/src/views/Home.vue
  frontend/src/views/PwdReset.vue
  frontend/src/views/Unconfirmed.vue
Labels: enhancement, backend, frontend

#8 Basically Complete API Corresponding to Database Model and Frontend Auth Logic
  .gitignore
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  backend/app/__init__.py
  backend/app/api/__init__.py
  backend/app/api/authentication.py
  backend/app/api/v1/__init__.py
  backend/app/api/v1/auth.py
  backend/app/api/v1/card.py
  backend/app/api/v1/financial_report.py
  backend/app/api/v1/user.py
  backend/app/celery_tasks.py
  backend/app/listeners.py
  backend/app/models.py
  backend/app/templates/auth/email_base.html
  backend/app/templates/auth/email_confirm.html
  backend/app/templates/auth/email_password_reset.html
  backend/celery_app.py
  backend/config.py
  backend/migrations/README
  backend/migrations/alembic.ini
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/0f5cb299531a_.py
  backend/requirements/common.txt
  backend/wsgi.py
  frontend/src/App.vue
  frontend/src/components/Login.vue
  frontend/src/components/Navbar.vue
  frontend/src/config/constants.js
  frontend/src/router/index.js
  frontend/src/store/index.js
  frontend/src/views/Home.vue
  frontend/src/views/PwdReset.vue
  frontend/src/views/Unconfirmed.vue
Labels: enhancement, backend, frontend

#9 Frontend: add cards page; Backend: add single card query for all users
  backend/app/api/v1/card.py
  frontend/src/components/CardInfo.vue
  frontend/src/components/Navbar.vue
  frontend/src/router/index.js
  frontend/src/views/CardDetails.vue
  frontend/src/views/Cards.vue
  frontend/src/views/Home.vue
Labels: enhancement, backend, frontend

#11 New feature loading bar
  .gitignore
  .idea/misc.xml
  backend/app/fake.py
  backend/requirements/dev.txt
  frontend/src/App.vue
  frontend/src/components/Dashboard.vue
  frontend/src/components/LoadingSpinner.vue
  frontend/src/components/Login.vue
  frontend/src/components/Navbar.vue
  frontend/src/store/index.js
  frontend/src/views/Cards.vue
Labels: enhancement, backend, frontend

#12 Imporve loading bar and sort infomation by id desc
  backend/app/api/v1/card.py
  backend/app/api/v1/financial_report.py
  backend/app/api/v1/transaction.py
  backend/app/fake.py
  backend/app/models.py
  frontend/src/components/CardInfo.vue
  frontend/src/components/Dashboard.vue
  frontend/src/components/Login.vue
  frontend/src/store/index.js
  frontend/src/views/PwdReset.vue
  frontend/src/views/Unconfirmed.vue
Labels: enhancement, backend, frontend

#13 Dev
  .gitignore
  .idea/misc.xml
  backend/app/api/v1/card.py
  backend/app/api/v1/financial_report.py
  backend/app/api/v1/transaction.py
  backend/app/fake.py
  backend/app/models.py
  backend/requirements/dev.txt
  frontend/src/App.vue
  frontend/src/components/CardInfo.vue
  frontend/src/components/Dashboard.vue
  frontend/src/components/LoadingSpinner.vue
  frontend/src/components/Login.vue
  frontend/src/components/Navbar.vue
  frontend/src/router/index.js
  frontend/src/store/index.js
  frontend/src/views/CardDetails.vue
  frontend/src/views/Cards.vue
  frontend/src/views/Home.vue
  frontend/src/views/PwdReset.vue
  frontend/src/views/Unconfirmed.vue
Labels: enhancement, backend, frontend

#14 Format doc
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/components/CardInfo.vue
  frontend/src/components/Dashboard.vue
  frontend/src/components/LoadingSpinner.vue
  frontend/src/components/Login.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/UserList.vue
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/store/index.js
  frontend/src/views/Cards.vue
  frontend/src/views/Home.vue
  frontend/src/views/PwdReset.vue
  frontend/src/views/Unconfirmed.vue
Labels: enhancement, frontend

#15 Add my transactions page and corresponding api
  backend/app/api/v1/transaction.py
  backend/app/api/v1/views.py
  backend/app/models.py
  frontend/src/components/CardInfo.vue
  frontend/src/components/Dashboard.vue
  frontend/src/components/Navbar.vue
  frontend/src/router/index.js
  frontend/src/views/Cards.vue
  frontend/src/views/Home.vue
  frontend/src/views/PwdReset.vue
  frontend/src/views/Transactions.vue
  frontend/src/views/Unconfirmed.vue
Labels: enhancement, backend, frontend

#19 Add transaction simulation utility, fix bugs and improve performance
  backend/app/api/v1/transaction.py
  backend/app/api/v1/views.py
  frontend/src/components/CardInfo.vue
  frontend/src/components/Dashboard.vue
  frontend/src/components/Navbar.vue
  frontend/src/router/index.js
  frontend/src/store/index.js
  frontend/src/views/Cards.vue
  frontend/src/views/TransactionSimulation.vue
  frontend/src/views/Transactions.vue
Labels: enhancement, backend, frontend, bug fix

#20 Add frontend permission determination and make navbar dynamic
  backend/app/api/v1/views.py
  backend/app/models.py
  frontend/src/App.vue
  frontend/src/components/CardInfo.vue
  frontend/src/components/Dashboard.vue
  frontend/src/components/Navbar.vue
  frontend/src/router/index.js
  frontend/src/store/index.js
  frontend/src/views/TransactionSimulation.vue
  frontend/src/views/Unconfirmed.vue
  frontend/src/views/UserMgr.vue
Labels: enhancement, backend, frontend

#21 Add alert window, modal window components and enhance db model
  backend/app/celery_tasks.py
  backend/app/fake.py
  backend/app/models.py
  frontend/src/components/AlertWindow.vue
  frontend/src/components/ModalWindow.vue
  frontend/src/store/index.js
  frontend/src/views/Cards.vue
Labels: enhancement, backend, frontend, bug fix

#22 Add user mgr for admin
  backend/app/api/v1/user.py
  frontend/src/components/UserEditor.vue
  frontend/src/views/UserMgr.vue
Labels: enhancement, backend, frontend

#23 Fix currentPage does not reset after query conditions have been changed
  frontend/src/views/Transactions.vue
  frontend/src/views/UserMgr.vue
Labels: frontend, bug fix

#25 Add cards mgr for admin, improve frontend style and enhance backend card api
  backend/app/api/v1/card.py
  backend/app/models.py
  frontend/src/App.vue
  frontend/src/components/CardEditor.vue
  frontend/src/components/CardInfo.vue
  frontend/src/components/CardRenewWindow.vue
  frontend/src/components/UserEditor.vue
  frontend/src/config/constants.js
  frontend/src/router/index.js
  frontend/src/views/CardMgr.vue
  frontend/src/views/UserMgr.vue
Labels: enhancement, backend, frontend, bug fix

#26 Dev
  backend/app/api/v1/card.py
  backend/app/models.py
  frontend/src/App.vue
  frontend/src/components/CardEditor.vue
  frontend/src/components/CardInfo.vue
  frontend/src/components/CardRenewWindow.vue
  frontend/src/components/UserEditor.vue
  frontend/src/config/constants.js
  frontend/src/router/index.js
  frontend/src/views/CardMgr.vue
  frontend/src/views/UserMgr.vue
Labels: sync

#27 Add transaction mgr for admin and fix bugs
  backend/app/api/v1/card.py
  backend/app/api/v1/transaction.py
  frontend/src/router/index.js
  frontend/src/views/CardMgr.vue
  frontend/src/views/TransactionMgr.vue
Labels: enhancement, backend, frontend, bug fix

#28 Add financial report mgr for admin and enhance backend logic
  backend/app/api/authentication.py
  backend/app/api/v1/auth.py
  backend/app/api/v1/card.py
  backend/app/api/v1/financial_report.py
  backend/app/api/v1/transaction.py
  backend/app/api/v1/user.py
  backend/app/api/v1/views.py
  backend/app/models.py
  backend/config.py
  frontend/src/components/FrEditor.vue
  frontend/src/router/index.js
  frontend/src/views/FrMgr.vue
Labels: enhancement, backend, frontend

#29 Dev
  backend/app/api/authentication.py
  backend/app/api/v1/auth.py
  backend/app/api/v1/card.py
  backend/app/api/v1/financial_report.py
  backend/app/api/v1/transaction.py
  backend/app/api/v1/user.py
  backend/app/api/v1/views.py
  backend/app/models.py
  backend/config.py
  frontend/src/components/FrEditor.vue
  frontend/src/router/index.js
  frontend/src/views/CardMgr.vue
  frontend/src/views/FrMgr.vue
  frontend/src/views/TransactionMgr.vue
Labels: sync

#33 Make the project fit school needs
  README-zh.md
  README.md
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  backend/app/api/v1/transaction.py
  backend/app/celery_tasks.py
  backend/app/fake.py
  backend/app/mail.py
  backend/app/models.py
  docker-compose.dev.yml
  docker-compose.prod.yml
  frontend/src/views/PwdReset.vue
  frontend/src/views/TransactionSimulation.vue
Labels: enhancement, backend, frontend, bug fix
